<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css.map">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css.map">
</head>
<body>
<section id="appView" class="container">
    <!-- header -->
    <div class="jumbotron">
        <div>
            <h1>Reddit Thumbs</h1>
        </div>

        <!-- sub reddit input -->
        <div>
            <label for="subreddit">Sub Reddit Name:</label>
            <input id="subreddit" type="text" placeholder="Sub Reddit"/>
            <button id="submitSubReddit" class="btn btn-success btn-sm">GO</button>
        </div>
        <p>
            Enter the name of a sub reddit and see the top 100 thumbnails. Click on the thumbnail to see more information.
            <span class="small">e.g. "funny"</span>
        </p>
    </div>

    <!-- loading spinner -->
    <div class="spinner">
        <h3>Loading <i class="glyphicon glyphicon-refresh"></i></h3>
    </div>
    <div class="errorMessage">
        <span class="alert alert-danger" role="alert">Unable to get any thumbnails for that sub reddit</span>
    </div>
    <!-- grid of images -->
    <div>
        <section id="photos">

        </section>
    </div>
</section>
<script type="text/template" id="thumb-template">
    <img class="thumbnail" src="<%= thumbnail%>"/>
</script>
<script type="text/template" id="model-content-template">
    <p>Author: <%= author%></p>
    <p>Score: <%= score%></p>
    <p>Comments: <%= num_comments%></p>
    <p><a href="<%= permalink%>" target="_blank">link</a></p>
</script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="js/backbone.bootstrap-modal.js"></script>
<script src="js/models/thumb.js"></script>
<script src="js/collections/thumbs.js"></script>
<script src="js/views/modal-content-view.js"></script>
<script src="js/views/thumb-view.js"></script>
<script src="js/views/app-view.js"></script>
<script src="js/app.js"></script>
</body>
</html>